* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
}

.accordion-container {
  margin: 0 auto;
}

.accordion-item__header {
  font-size: 3vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3vh 15vw;
  border-top: 0.5px lightgray solid;
}

.accordion-item__header:last-of-type {
  border-bottom: 0.5px lightgray solid;
}

.accordion-arrow {
  width: 3vw;
}

.arrow-up_1 {
  display: none;
}

.arrow-up_2 {
  display: none;
}

.arrow-down_1 {
  display: block;
}

.arrow-down_2 {
  display: block;
}

.accordion-items_1 {
  display: none;
}

.accordion-items_2 {
  display: none;
}

.accordion-item {
  display: flex;
  padding: 3vh 15vw;
  font-size: 2vw;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px lightgray solid;
}

.accordion-item:last-child {
  border: none;
}
